<div {{bind-attr class=":umi-item item.type isActiveContext:active view.inActive"}}>
    {{#if hasChildren}}
        <span {{action "expanded" on="mouseDown" target="view"}} {{bind-attr class=":umi-expand"}}>
            {{#if view.isExpanded}}
                {{#if childrenList}}
                    <i {{bind-attr class=":icon view.isExpanded:icon-bottom:icon-right"}}></i>
                {{else}}
                    <i class="animate animate-loader-20"></i>
                {{/if}}
            {{else}}
                <i {{bind-attr class=":icon view.isExpanded:icon-bottom:icon-right"}}></i>
            {{/if}}
        </span>
    {{/if}}
    <i {{bind-attr class=":icon :umi-tree-type-icon :icon-document view.allowMove:move"}}></i>

    {{#if editLink}}
        {{#link-to "action" item.id "editForm" class="tree-item-link"}}
            {{savedDisplayName}}
        {{/link-to}}
    {{else}}
        {{#link-to "context" view.item.id class="tree-item-link"}}
            {{savedDisplayName}}
        {{/link-to}}
    {{/if}}

    {{#if params.contextToolbar}}
        {{#render "treeControlContextToolbar" item}}
            {{#each parentController.params.contextToolbar}}
                {{view view.elementView}}
            {{/each}}
        {{/render}}
    {{/if}}

</div>

{{#if hasChildren}}
    {{#if view.isExpanded}}
        <ul class="umi-tree-list" data-parent-id="{{unbound item.id}}">
            {{#each item in childrenList}}
                {{render "treeControlItem" item}}
            {{/each}}
        </ul>
    {{/if}}
{{/if}}