<div {{bind-attr class=":umi-item view.item.type view.isActiveContext:active view.inActive"}}>
    {{#if view.hasChildren}}
        <span {{action "expanded" on="mouseDown" target="view"}} {{bind-attr class=":umi-expand"}}>
            {{#if view.isExpanded}}
                {{#if view.childrenList}}
                    <i {{bind-attr class=":icon view.isExpanded:icon-bottom:icon-right"}}></i>
                {{else}}
                    <i class="animate animate-loader-20"></i>
                {{/if}}
            {{else}}
                <i {{bind-attr class=":icon view.isExpanded:icon-bottom:icon-right"}}></i>
            {{/if}}
        </span>
    {{/if}}
    <i {{bind-attr class=":icon :umi-tree-type-icon :icon-document view.allowMove:move"}}></i>

    {{#if editLink}}
        {{#link-to "action" view.item.id "editForm" class="tree-item-link"}}
            {{view.savedDisplayName}}
        {{/link-to}}
    {{else}}
        {{#link-to "context" view.item.id class="tree-item-link"}}
            {{view.savedDisplayName}}
        {{/link-to}}
    {{/if}}

    {{#if controller.contextToolbar}}
        {{#render "treeControlContextToolbar" view.item}}
            {{#each parentController.contextToolbar}}
                {{view view.elementView}}
            {{/each}}
        {{/render}}
    {{/if}}

</div>

{{#if view.hasChildren}}
    {{#if view.isExpanded}}
        <ul class="umi-tree-list" data-parent-id="{{unbound view.item.id}}">
            {{#each item in view.childrenList}}
                {{view "treeControlItem" item=item treeControlView=view.treeControlView}}
            {{/each}}
        </ul>
    {{/if}}
{{/if}}