{{#if routeIsTransition}}
    <div class="umi-route-transition-loader">
        {{i18n "Loading"}}...
    </div>
    <div class="umi-overlay"></div>
{{/if}}

<div class="s-full-height-before umi-header">
    {{view "topBar"}}
    {{render "dock"}}
</div>

{{outlet}}
{{outlet "popup"}}