{{ include('breadcrumbs.twig') }}

<h1>{{ page.getHeader() }}</h1>
{{ page.contents }}

<p>{{ translate('All comments') }}: {{ page.commentsCount }}</p>
<p>{{ translate('All posts') }}: {{ page.postsCount }}</p>

{{ widget('blog.author.view.posts', {'blogAuthors' : [page], 'template' : 'postList'}) }}