<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>

    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}" />
    <meta name="keywords" content="{{ keywords }}" />

</head>
<body>

{{ widget('structure.menu.auto', {'depth': 1})|raw }}

{{ contents|raw }}
</body>
</html>