<div class="umi-table-control-column-selector-popup-wrapper">
    <ul>
        <li>{{checkbox-element}}</li>
        <li>{{checkbox-element}}</li>
        <li>{{checkbox-element}}</li>
        <li>{{checkbox-element}}</li>
        <li>{{checkbox-element}}</li>
        <li>{{checkbox-element}}</li>
        <li>{{checkbox-element}}</li>
    </ul>
</div>