<div class="umi-table-control-column-selector-popup-wrapper">
    <ul>
        <li>{{checkbox-element}}</li>
        <li>{{checkbox-element}}</li>
        <li>{{checkbox-element}}</li>
        <li>{{checkbox-element}}</li>
        <li>{{checkbox-element}}</li>
        <li>{{checkbox-element}}</li>
        <li>{{checkbox-element}}</li>
    </ul>
</div>

<style>
    .umi-table-control-column-selector-popup-wrapper{
        margin: 10px;
    }

    .umi-table-control-column-selector-popup ul{
        list-style: none;
        border: 1px solid #E2E3E4;
        background: #FFFFFF;
        border-radius: 3px;
        font-size: 13px;
        cursor: pointer;
    }

    .umi-table-control-column-selector-popup li{
        height: 34px;
        line-height: 34px;
        padding: 0 10px 0 10px;
    }

    .umi-table-control-column-selector-popup li:nth-child(even){
        background: #E9F1F7;
    }

    .umi-table-control-column-selector-popup li:hover{
        background: #A4DCF7;
    }
</style>