{{#if controller.hasFieldset}}
    {{#view "magellan" elements=model.viewSettings.form.elements}}
        {{#each formElement in model.viewSettings.form.elements itemController="FormElement"}}
            {{#if controller.isFieldset}}
                {{#view view.buttonView model=formElement}}{{formElement.label}}{{/view}}
            {{/if}}
        {{/each}}
    {{/view}}
{{/if}}
<div class="row s-full-height collapse">
    <div class="columns small-12 maggelan-content">
        {{#with model.object as object}}
            {{#each formElements in model.viewSettings.form.elements itemController="FormElement"}}
                {{#if isFieldset}}
                    <fieldset id="fieldset-{{unbound formElements.name}}">
                        <legend {{action 'expand'}}><i {{bind-attr class=":icon isExpanded:icon-bottom:icon-right"}}></i>{{formElements.label}}</legend>
                        {{#if isExpanded}}
                            {{#each formElements.elements}}
                                {{view "field" objectBinding="object" metaBinding="this"}}
                            {{/each}}
                        {{/if}}
                    </fieldset>
                {{else}}
                    {{view "field" objectBinding="object" metaBinding="this"}}
                {{/if}}
            {{/each}}
        {{/with}}
    </div>
</div>
<ul class="button-group umi-form-control-buttons">
    <li>
        {{#view "saveButton" class="button s-margin-clear wide left" model=model.object}}
            {{#if model.object.isSaving}}
                Сохранено
                {{else}}
                    {{#if model.object.isDirty}}
                        Сохранить
                    {{else}}
                        Сохранено
                {{/if}}
            {{/if}}
        {{/view}}
    </li>
    <li>
        <span class="button white dropup">Сменить тип</span>
        <div class="umi-dropup">
        </div>
    </li>
    <li><span class="button white">Удалить</span></li>
</ul>