<style>
    .calendar{
        position: relative;
    }
    .datepicker{
        position: absolute;
        z-index: 1;
        background: #FFFFFF;
        border: 1px solid #6d7580;
    }
</style>
<script>
    //Функция вызывается после выполнения всего didInsertelement
    //TODO Добавить родителя для form минуя metamorph
//    setTimeout(function(){
//        var formControlScroll = new IScroll('.umi-table-control-content-center', {
//            scrollX: true,
//            probeType: 3,
//            mouseWheel: true,
//            scrollbars: true,
//            bounce: false,
//            click: false,
//            freeScroll: false,
//            keyBindings: true,
//            interactiveScrollbars: true
//        });
//    }, 0);

    $('.umi-form-tab').mousedown(function(event){
        event.stopPropagation();
        $('.umi-form-tab, .umi-form-tab-content').removeClass('active');
        $(this).addClass('active');

        var i = $(this).index('.umi-form-drop-up .umi-form-tab');
        $('.umi-form-tab-content').eq(i).addClass('active');
    });

    $('html').on('mousedown', function(event){
        $('.umi-form-tab, .umi-form-tab-content').removeClass('active');
    });

    $('.umi-form-tabs-content').mousedown(function(event){
        event.stopPropagation();
    });
</script>

{{#if viewSettings.form.fieldsets}}
    <div class="magellan-menu s-full-height-before">
        {{#each viewSettings.form.fieldsets}}
            <a href="#{{unbound id}}">{{legend}}</a>
        {{/each}}
    </div>
    <div class="magellan-menu-holder"></div>
{{/if}}

<div class="magellan-menu s-full-height-before">
    {{#each meta.fieldsets}}
    <a href="#{{unbound id}}">{{legend}}</a>
    {{/each}}
</div>

<div class="magellan-menu-holder"></div>

<div class="umi-form-control-content">
    {{#with model.object as object}}
        {{#if viewSettings.form.fieldsets}}
            {{#each model.viewSettings.form.fieldsets}}
                <a name="{{unbound id}}"></a>
                <fieldset>
                    <legend><i class="icon icon-bottom umi-form-control-fieldset-toggle"></i>{{legend}}</legend>
                    {{#each fields}}
                        {{view "field" objectBinding="object" metaBinding="this"}}
                    {{/each}}
                </fieldset>
            {{/each}}
        {{else}}
            <fieldset>
                {{#each model.viewSettings.form}}
                    <label>
                        {{title}}
                        {{view "field" objectBinding="object" metaBinding="this"}}
                    </label>
                    <a href="#" class="umi-show-popup">Попап</a>
                {{/each}}
            </fieldset>
        {{/if}}
    {{/with}}
</div>

<div class="umi-form-drop-up s-unselectable">

    <div class="umi-form-tabs-content">
        <div class="umi-form-tab-content">
            <div class="umi-dropdown-row">
                <div class="umi-dropdown-row-text" style="padding: 7px 10px;"><i class="icon icon-user"></i></div>
                <div class="right">
                    <div><i class="icon icon-key black"></i></div>
                    <div><i class="icon icon-key white"></i></div>
                    <div><i class="icon icon-key"></i></div>
                    <div><i class="icon icon-key"></i></div>
                    <div><i class="icon icon-key white"></i></div>
                </div>
            </div>
            <div class="umi-dropdown-row">
                <div class="umi-dropdown-row-text">Виталий</div>
                <div class="right">
                    <div><input type="checkbox"/></div>
                    <div><input type="checkbox"/></div>
                    <div><input type="checkbox"/></div>
                    <div><input type="checkbox" checked/></div>
                    <div><input type="checkbox"/></div>
                </div>
            </div>
            <div class="umi-dropdown-row">
                <div class="umi-dropdown-row-text">Кирилл</div>
                <div class="right">
                    <div><input type="checkbox" checked/></div>
                    <div><input type="checkbox"/></div>
                    <div><input type="checkbox" checked/></div>
                    <div><input type="checkbox"/></div>
                    <div><input type="checkbox"/></div>
                </div>
            </div>
            <div class="umi-dropdown-row">
                <div class="umi-dropdown-row-text">Семён</div>
                <div class="right">
                    <div><input type="checkbox"/></div>
                    <div><input type="checkbox"/></div>
                    <div><input type="checkbox" checked/></div>
                    <div><input type="checkbox" checked/></div>
                    <div><input type="checkbox" checked/></div>
                </div>
            </div>
            <div class="umi-dropdown-row">
                <input type="text" placeholder="Добавить пользователя"/>
            </div>
        </div>

        <div class="umi-form-tab-content">
            <div class="umi-dropdown-row">
                <div class="umi-dropdown-row-text" style="padding: 7px 10px;"><i class="icon icon-user"></i></div>
                <div class="right">
                    <div><i class="icon icon-key black"></i></div>
                    <div><i class="icon icon-key white"></i></div>
                    <div><i class="icon icon-key black"></i></div>
                    <div><i class="icon icon-key white"></i></div>
                    <div><i class="icon icon-key"></i></div>
                </div>
            </div>
            <div class="umi-dropdown-row">
                <div class="umi-dropdown-row-text">Виталий</div>
                <div class="right">
                    <div><input type="checkbox" checked/></div>
                    <div><input type="checkbox" checked/></div>
                    <div><input type="checkbox" checked/></div>
                    <div><input type="checkbox" checked/></div>
                    <div><input type="checkbox"/></div>
                </div>
            </div>
            <div class="umi-dropdown-row">
                <div class="umi-dropdown-row-text">Кирилл</div>
                <div class="right">
                    <div><input type="checkbox" checked/></div>
                    <div><input type="checkbox"/></div>
                    <div><input type="checkbox" checked/></div>
                    <div><input type="checkbox" checked/></div>
                    <div><input type="checkbox"/></div>
                </div>
            </div>
            <div class="umi-dropdown-row">
                <div class="umi-dropdown-row-text">Семён</div>
                <div class="right">
                    <div><input type="checkbox"/></div>
                    <div><input type="checkbox" checked/></div>
                    <div><input type="checkbox"/></div>
                    <div><input type="checkbox"/></div>
                    <div><input type="checkbox"/></div>
                </div>
            </div>
            <div class="umi-dropdown-row">
                <input type="text" placeholder="Добавить пользователя"/>
            </div>
        </div>
    </div>

    <div class="umi-form-tabs">
        <div class="umi-form-save-button" {{action 'save' model.object target="view"}}>Сохранить</div>
        <div class="umi-form-tab"><i class="icon icon-pause"></i></div>
        <div class="umi-form-tab"><i class="icon icon-6"></i></div>
        <div class="button secondary s-margin-clear"><i class="icon icon-delete"></i></div>
    </div>
</div>

<script type="text/x-handlebars" id="umi-popup">
    <div class="umi-popup">
        <h1>Content</h1>
        <p>
            Предсерийный образец нового хот-хэтча Honda Civic Type R японцы уже показывали минувшей осенью, но до конвейерного автомобиля дело пока не дошло: на автосалоне в Женевe компания представила концепт-кар Civic Type R Concept. Японцы подчёркивают: шоу-кар — явное указание на стиль будущей конвейерной «зажигалки», которая появится в Европе в 2015 году. И, конечно, уже можно делать первые выводы о её начинке.
        </p>
        <p>
            Расширенные крылья концепта вмещают 20-дюймовые колёсные диски, а воздуховоды спроектированы с прицелом на лучшее охлаждение тормозных механизмов.
        </p>
    </div>
</script>

<script>
    $('.umi-show-popup').click(function(){
        if($('html').hasClass('cssfilters') || $('html').hasClass('svgfilters')){
            console.log('blur');
            $('.umi-main-view').addClass('umi-blur');
            $('body').append('<div class="umi-overlay"></div>');
        }else{
            console.log('white');
            $('body').append('<div class="umi-overlay-white"></div>');
        }

        $('body').append(document.querySelector('#umi-popup').innerHTML);
        var x = $(window).width()/2 - 300;
        var y = $(window).height()/2 - 250;
        $('.umi-popup').offset({left:x, top:y})
    });

    $('html').on('mousedown', function(event){
        $('.umi-main-view').removeClass('umi-blur');
        $('.umi-overlay').remove();
        $('.umi-overlay-white').remove();
        $('.umi-popup').remove();
    });

    $('.umi-popup').mousedown(function(event){
        event.stopPropagation();
    });
</script>