{{#if controller.hasFieldsets}}
    {{#view "magellan" elements=model.viewSettings.form.elements}}
        {{#each formElement in model.viewSettings.form.elements itemController="FormElement"}}
            {{#if controller.isFieldset}}
                {{#view view.buttonView model=formElement}}{{formElement.label}}{{/view}}
            {{/if}}
        {{/each}}
    {{/view}}
{{/if}}
<div class="row s-full-height collapse">
    <div class="columns small-12 maggelan-content">
        {{#with model.object as object}}
            {{#each formElements in model.viewSettings.form.elements itemController="FormElement"}}
                {{#if controller.isFieldset}}
                    <fieldset id="fieldset-{{unbound formElements.name}}">
                        <legend><i class="icon icon-bottom umi-form-control-fieldset-toggle"></i>{{formElements.label}}</legend>
                        {{#each formElements.elements}}
                            {{view "field" objectBinding="object" metaBinding="this"}}
                        {{/each}}
                    </fieldset>
                {{else}}
                    {{view "field" objectBinding="object" metaBinding="this"}}
                {{/if}}
            {{/each}}
        {{/with}}
    </div>
</div>

<div class="umi-form-drop-up s-unselectable">

    <div class="umi-form-tabs-content">
        <div class="umi-form-tab-content">
            <div class="umi-dropdown-row">
                <div class="umi-dropdown-row-text" style="padding: 7px 10px;"><i class="icon icon-user"></i></div>
                <div class="right">
                    <div><i class="icon icon-key black"></i></div>
                    <div><i class="icon icon-key white"></i></div>
                    <div><i class="icon icon-key"></i></div>
                    <div><i class="icon icon-key"></i></div>
                    <div><i class="icon icon-key white"></i></div>
                </div>
            </div>
            <div class="umi-dropdown-row">
                <div class="umi-dropdown-row-text">Виталий</div>
                <div class="right">
                    <div><input type="checkbox"/></div>
                    <div><input type="checkbox"/></div>
                    <div><input type="checkbox"/></div>
                    <div><input type="checkbox" checked/></div>
                    <div><input type="checkbox"/></div>
                </div>
            </div>
            <div class="umi-dropdown-row">
                <div class="umi-dropdown-row-text">Кирилл</div>
                <div class="right">
                    <div><input type="checkbox" checked/></div>
                    <div><input type="checkbox"/></div>
                    <div><input type="checkbox" checked/></div>
                    <div><input type="checkbox"/></div>
                    <div><input type="checkbox"/></div>
                </div>
            </div>
            <div class="umi-dropdown-row">
                <div class="umi-dropdown-row-text">Семён</div>
                <div class="right">
                    <div><input type="checkbox"/></div>
                    <div><input type="checkbox"/></div>
                    <div><input type="checkbox" checked/></div>
                    <div><input type="checkbox" checked/></div>
                    <div><input type="checkbox" checked/></div>
                </div>
            </div>
            <div class="umi-dropdown-row">
                <input type="text" placeholder="Добавить пользователя"/>
            </div>
        </div>
    </div>

    <div class="umi-form-tabs">
        {{#view "saveButton" class="button s-margin-clear wide left" model=model.object}}
            {{#if model.object.isSaving}}
                Сохранено
            {{else}}
                {{#if model.object.isDirty}}
                    Сохранить
                {{else}}
                    Сохранено
                {{/if}}
            {{/if}}

        {{/view}}
        <div class="umi-form-tab"><i class="icon icon-pause"></i></div>
        <div class="umi-form-tab"><i class="icon icon-6"></i></div>
        <div class="button white s-margin-clear"><i class="icon icon-delete"></i></div>
    </div>

</div>

<script>
    //Функция вызывается после выполнения всего didInsertelement
    //TODO Добавить родителя для form минуя metamorph
    //    setTimeout(function(){
    //        var formControlScroll = new IScroll('.umi-table-control-content-center', {
    //            scrollX: true,
    //            probeType: 3,
    //            mouseWheel: true,
    //            scrollbars: true,
    //            bounce: false,
    //            click: false,
    //            freeScroll: false,
    //            keyBindings: true,
    //            interactiveScrollbars: true
    //        });
    //    }, 0);

    $('.umi-form-tab').mousedown(function(event){
        event.stopPropagation();
        $('.umi-form-tab, .umi-form-tab-content').removeClass('active');
        $(this).addClass('active');

        var i = $(this).index('.umi-form-drop-up .umi-form-tab');
        $('.umi-form-tab-content').eq(i).addClass('active');
    });

    $('html').on('mousedown', function(event){
        $('.umi-form-tab, .umi-form-tab-content').removeClass('active');
    });

    $('.umi-form-tabs-content').mousedown(function(event){
        event.stopPropagation();
    });
</script>