{{#if viewSettings.form.fieldsets}}
    <div class="magellan-menu s-full-height-before">
        {{#each viewSettings.form.fieldsets}}
            <a href="#{{unbound id}}">{{legend}}</a>
        {{/each}}
    </div>
    <div class="magellan-menu-holder"></div>
{{/if}}

<div class="umi-form-control-content">
    {{#with model.object as object}}
        {{#if viewSettings.form.fieldsets}}
            {{#each model.viewSettings.form.fieldsets}}
                <a name="{{unbound id}}"></a>
                <fieldset>
                    <legend><i class="icon icon-bottom umi-form-control-fieldset-toggle"></i>{{legend}}</legend>
                    {{#each fields}}
                        {{view "field" objectBinding="object" metaBinding="this"}}
                    {{/each}}
                </fieldset>
            {{/each}}
        {{else}}
            <fieldset>
                <div class="row">
                    {{#each model.viewSettings.form}}
                        {{view "field" objectBinding="object" metaBinding="this"}}
                    {{/each}}
                    <!--<div class="large-12 columns">
                        <a href="#" class="umi-show-popup">Попап</a>
                    </div>-->
                </div>
            </fieldset>
        {{/if}}
    {{/with}}
</div>

<div class="umi-form-drop-up s-unselectable">

    <div class="umi-form-tabs-content">
        <div class="umi-form-tab-content">
            <div class="umi-dropdown-row">
                <div class="umi-dropdown-row-text" style="padding: 7px 10px;"><i class="icon icon-user"></i></div>
                <div class="right">
                    <div><i class="icon icon-key black"></i></div>
                    <div><i class="icon icon-key white"></i></div>
                    <div><i class="icon icon-key"></i></div>
                    <div><i class="icon icon-key"></i></div>
                    <div><i class="icon icon-key white"></i></div>
                </div>
            </div>
            <div class="umi-dropdown-row">
                <div class="umi-dropdown-row-text">Виталий</div>
                <div class="right">
                    <div><input type="checkbox"/></div>
                    <div><input type="checkbox"/></div>
                    <div><input type="checkbox"/></div>
                    <div><input type="checkbox" checked/></div>
                    <div><input type="checkbox"/></div>
                </div>
            </div>
            <div class="umi-dropdown-row">
                <div class="umi-dropdown-row-text">Кирилл</div>
                <div class="right">
                    <div><input type="checkbox" checked/></div>
                    <div><input type="checkbox"/></div>
                    <div><input type="checkbox" checked/></div>
                    <div><input type="checkbox"/></div>
                    <div><input type="checkbox"/></div>
                </div>
            </div>
            <div class="umi-dropdown-row">
                <div class="umi-dropdown-row-text">Семён</div>
                <div class="right">
                    <div><input type="checkbox"/></div>
                    <div><input type="checkbox"/></div>
                    <div><input type="checkbox" checked/></div>
                    <div><input type="checkbox" checked/></div>
                    <div><input type="checkbox" checked/></div>
                </div>
            </div>
            <div class="umi-dropdown-row">
                <input type="text" placeholder="Добавить пользователя"/>
            </div>
        </div>
    </div>

    <div class="umi-form-tabs">
        {{#view "saveButton" class="button s-margin-clear wide left" model=model.object}}
            {{#if model.object.isSaving}}
                Сохранено
            {{else}}
                {{#if model.object.isDirty}}
                    Сохранить
                {{else}}
                    Сохранено
                {{/if}}
            {{/if}}

        {{/view}}
        <div class="umi-form-tab"><i class="icon icon-pause"></i></div>
        <div class="umi-form-tab"><i class="icon icon-6"></i></div>
        <div class="button white s-margin-clear"><i class="icon icon-delete"></i></div>
    </div>

</div>

<script type="text/x-handlebars" id="umi-popup">
    <div class="umi-popup">
        <div id="elfinder"></div>
    </div>
</script>

<script>
//    $('.umi-show-popup').click(function(){
//        if($('html').hasClass('cssfilters')){
//            console.log('blur');
//            $('.umi-main-view').addClass('umi-blur');
//            $('body').append('<div class="umi-overlay"></div>');
//        }else{
//            console.log('white');
//            $('body').append('<div class="umi-overlay-white"></div>');
//        }
//
//        $('body').append(document.querySelector('#umi-popup').innerHTML);
//        var x = $(window).width()/2 - 300;
//        var y = $(window).height()/2 - 250;
//        $('.umi-popup').offset({left:x, top:y});
//
//        $().ready(function(){
//            var elf = $('#elfinder').elfinder({
//                url : '/resources/libs/elfinder/php/connector.php'  // connector URL (REQUIRED)
//                // lang: 'ru',             // language (OPTIONAL)
//            }).elfinder('instance');
//        });
//
//        $('body').on('mousedown', function(event){
//            $('.umi-main-view').removeClass('umi-blur');
//            $('.umi-overlay').remove();
//            $('.umi-overlay-white').remove();
//            $('.umi-popup').remove();
//        });
//
//        $('body').on('.umi-popup', 'mousedown', function(event){
//            //        console.log('close');
//            event.stopImmediatePropagation();
//        });
//    });
</script>

<script>
    //Функция вызывается после выполнения всего didInsertelement
    //TODO Добавить родителя для form минуя metamorph
    //    setTimeout(function(){
    //        var formControlScroll = new IScroll('.umi-table-control-content-center', {
    //            scrollX: true,
    //            probeType: 3,
    //            mouseWheel: true,
    //            scrollbars: true,
    //            bounce: false,
    //            click: false,
    //            freeScroll: false,
    //            keyBindings: true,
    //            interactiveScrollbars: true
    //        });
    //    }, 0);

    $('.umi-form-tab').mousedown(function(event){
        event.stopPropagation();
        $('.umi-form-tab, .umi-form-tab-content').removeClass('active');
        $(this).addClass('active');

        var i = $(this).index('.umi-form-drop-up .umi-form-tab');
        $('.umi-form-tab-content').eq(i).addClass('active');
    });

    $('html').on('mousedown', function(event){
        $('.umi-form-tab, .umi-form-tab-content').removeClass('active');
    });

    $('.umi-form-tabs-content').mousedown(function(event){
        event.stopPropagation();
    });
</script>