<script>
    $('legend').click(function(){
        $(this).find('i').toggleClass("icon-top icon-bottom");
        $(this).parent().find('div').toggle();
    });

    //Функция вызывается после выполнения всего didInsertelement
    setTimeout(function(){
        var formControlScroll = new IScroll('.umi-table-control-content-center', {
            scrollX: true,
            probeType: 3,
            mouseWheel: true,
            scrollbars: true,
            bounce: false,
            click: false,
            freeScroll: false,
            keyBindings: true,
            interactiveScrollbars: true
        });
    }, 0);

    $('.umi-form-tab').click(function(event){
        event.stopPropagation();
        $('.umi-form-tab, .umi-form-tab-content').removeClass('active');
        $(this).addClass('active');

        var i = $(this).index('.umi-form-drop-up .umi-form-tab');
        $('.umi-form-tab-content').eq(i).addClass('active');
    });

    $('html').on('click', function(event){
        $('.umi-form-tab, .umi-form-tab-content').removeClass('active');
    });

    $('.umi-form-tabs-content').click(function(event){
        event.stopPropagation();
    });
</script>

{{#if viewSettings.form.fieldsets}}
    <div class="magellan-menu s-full-height-before">
        {{#each viewSettings.form.fieldsets}}
            <a href="#{{unbound id}}">{{legend}}</a>
        {{/each}}
    </div>
    <div class="magellan-menu-holder"></div>
{{/if}}

<div class="umi-form-control-content">
    {{#with model.object as object}}
        {{#if viewSettings.form.fieldsets}}
            {{#each model.viewSettings.form.fieldsets}}
                <a name="{{unbound id}}"></a>
                <fieldset>
                    <legend><i class="icon icon-bottom umi-form-control-fieldset-toggle"></i>{{legend}}</legend>
                    {{#each fields}}
                        {{view "field" objectBinding="object" metaBinding="this"}}
                    {{/each}}
                </fieldset>
            {{/each}}
        {{else}}
            {{#each model.viewSettings.form}}
                <label>
                    {{title}}
                    {{view "field" objectBinding="object" metaBinding="this"}}
                </label>
            {{/each}}
        {{/if}}
    {{/with}}
</div>

<div class="umi-form-drop-up s-unselectable">

    <div class="umi-form-tabs-content">
        <div class="umi-form-tab-content">
            <div class="umi-dropdown-row">
                <div class="umi-dropdown-row-text" style="padding: 7px 10px;"><i class="icon icon-user"></i></div>
                <div class="right">
                    <div><i class="icon icon-key black"></i></div>
                    <div><i class="icon icon-key white"></i></div>
                    <div><i class="icon icon-key"></i></div>
                    <div><i class="icon icon-key"></i></div>
                    <div><i class="icon icon-key white"></i></div>
                </div>
            </div>
            <div class="umi-dropdown-row">
                <div class="umi-dropdown-row-text">Виталий</div>
                <div class="right">
                    <div><input type="checkbox"/></div>
                    <div><input type="checkbox"/></div>
                    <div><input type="checkbox"/></div>
                    <div><input type="checkbox" checked/></div>
                    <div><input type="checkbox"/></div>
                </div>
            </div>
            <div class="umi-dropdown-row">
                <div class="umi-dropdown-row-text">Кирилл</div>
                <div class="right">
                    <div><input type="checkbox" checked/></div>
                    <div><input type="checkbox"/></div>
                    <div><input type="checkbox" checked/></div>
                    <div><input type="checkbox"/></div>
                    <div><input type="checkbox"/></div>
                </div>
            </div>
            <div class="umi-dropdown-row">
                <div class="umi-dropdown-row-text">Семён</div>
                <div class="right">
                    <div><input type="checkbox"/></div>
                    <div><input type="checkbox"/></div>
                    <div><input type="checkbox" checked/></div>
                    <div><input type="checkbox" checked/></div>
                    <div><input type="checkbox" checked/></div>
                </div>
            </div>
            <div class="umi-dropdown-row">
                <input type="text" placeholder="Добавить пользователя"/>
            </div>
        </div>

        <div class="umi-form-tab-content">
            <div class="umi-dropdown-row">
                <div class="umi-dropdown-row-text" style="padding: 7px 10px;"><i class="icon icon-user"></i></div>
                <div class="right">
                    <div><i class="icon icon-key black"></i></div>
                    <div><i class="icon icon-key white"></i></div>
                    <div><i class="icon icon-key black"></i></div>
                    <div><i class="icon icon-key white"></i></div>
                    <div><i class="icon icon-key"></i></div>
                </div>
            </div>
            <div class="umi-dropdown-row">
                <div class="umi-dropdown-row-text">Виталий</div>
                <div class="right">
                    <div><input type="checkbox" checked/></div>
                    <div><input type="checkbox" checked/></div>
                    <div><input type="checkbox" checked/></div>
                    <div><input type="checkbox" checked/></div>
                    <div><input type="checkbox"/></div>
                </div>
            </div>
            <div class="umi-dropdown-row">
                <div class="umi-dropdown-row-text">Кирилл</div>
                <div class="right">
                    <div><input type="checkbox" checked/></div>
                    <div><input type="checkbox"/></div>
                    <div><input type="checkbox" checked/></div>
                    <div><input type="checkbox" checked/></div>
                    <div><input type="checkbox"/></div>
                </div>
            </div>
            <div class="umi-dropdown-row">
                <div class="umi-dropdown-row-text">Семён</div>
                <div class="right">
                    <div><input type="checkbox"/></div>
                    <div><input type="checkbox" checked/></div>
                    <div><input type="checkbox"/></div>
                    <div><input type="checkbox"/></div>
                    <div><input type="checkbox"/></div>
                </div>
            </div>
            <div class="umi-dropdown-row">
                <input type="text" placeholder="Добавить пользователя"/>
            </div>
        </div>
    </div>

    <div class="umi-form-tabs">
        <div class="umi-form-save-button"
        {{action 'save' model.object target="view"}}>Сохранить
    </div>
    <div class="umi-form-tab"><i class="icon icon-pause"></i></div>
    <div class="umi-form-tab"><i class="icon icon-6"></i></div>
    <div class="button secondary s-margin-clear"
    {{action 'delete' model.object target="view"}}><i class="icon icon-delete"></i></div>
</div>
</div>