<div class="dock-wrapper">
    <div class="dock-wrapper-bg">
        <ul class="dock navigation">
            {{#each module in sortedModules}}
                {{#unless module.isHidden}}
                    {{#view view.dockModuleButtonView module=module}}
                        {{#if view.parentView.isTouchDevice}}
                            <a href="javascript: void(0)" class="dock-module dropdown" data-dropdown=""
                               data-options="selectorById: false; isHover: true; buttonSelector: .dropdown;">
                                <div class="umi-dock-module-icon umi-dock-module-{{unbound view.module.name}}"></div>
                                <span>{{module.displayName}}</span>
                            </a>
                        {{else}}
                            {{#link-to 'module' module.name class="dock-module dropdown" data-dropdown=""
                            data-options="selectorById: false; isHover: true; buttonSelector: .dropdown;"}}
                                <div class="umi-dock-module-icon umi-dock-module-{{unbound view.module.name}}"></div>
                                <span>{{module.displayName}}</span>
                            {{/link-to}}
                        {{/if}}
                        <ul {{bind-attr class=":f-dropdown :f-dropdown-border view.parentView.isTouchDevice:is-touch-mode"}}
                                data-dropdown-content>
                            {{#each component in module.components}}
                                <li class="{{unbound component.name}}">
                                    {{#link-to 'component' module.name component.name}}
                                        {{component.displayName}}
                                    {{/link-to}}
                                </li>
                            {{/each}}
                        </ul>
                    {{/view}}
                {{/unless}}
            {{/each}}
        </ul>
    </div>
</div>

<div class="dock-components">
    <nav class="components-nav">
        {{#if activeModule}}
            {{#with activeModule as module}}
                {{#each component in module.components}}
                    {{#link-to 'component' module.name component.name class=component.name}}
                        {{component.displayName}}
                    {{/link-to}}
                {{/each}}
            {{/with}}
        {{/if}}
    </nav>
</div>