<div class="s-full-height">
    <div {{bind-attr class=":off-canvas-wrap :s-full-height sideBarControl:move-right"}}>
        <div class="umi-divider-wrapper s-full-height">
            {{#if sideBarControl}}
                <div class="umi-divider-left">
                    <div class="umi-divider-left-content">
                        {{outlet 'sideBar'}}
                    </div>

                    <div class="umi-divider"></div>
                </div>
            {{/if}}

            <div class="umi-left-bottom-panel s-unselectable">
                {{#if sideBarControl}}
                    <a class="umi-divider-left-toggle">
                        <i class="icon icon-list"></i>
                    </a>
                {{else}}
                    <a href="">
                        <i class="icon icon-list" style="opacity: 0.5"></i>
                    </a>
                {{/if}}

                <a href="">
                    <i class="icon icon-eye"></i>
                </a>
            </div>

            <div class="umi-divider-right">
                <div class="s-unselectable umi-mode">

                    <h5 style="float: left;">{{displayName}}</h5>

                    <ul class="button-group" style="float: right;">
                        {{#each control in controller.contentControls}}
                            <li>
                                {{#link-to 'action' control.name classNames="button"}}
                                    {{control.displayName}}
                                {{/link-to}}
                            </li>
                        {{/each}}
                    </ul>
                </div>

                <div class="umi-component columns small-12 s-padding-clear">
                    {{outlet}}
                </div>
            </div>
        </div>
    </div>
</div>