{% if (list.getTotal()) %}
    {% for index in list %}
        <div>
            <h3>
                <a href="{{ index.getIndexedObject().getPageUrl()  }}">{{ index.getIndexedObject().displayName  }}</a>
            </h3>
            {{ widget('search.fragments', {'query' : query, 'index' : index}) }}
        </div>
    {% endfor %}

    {{ include('pagination.twig', {'paginator' : paginator}) }}
{% else %}
    <p>{{ translate('No results') }}</p>
{% endif %}