{{#if controllers.treeControl.selectAction}}
    <li class="tree-control-select-action">
        <span class="tiny button flat square" {{action 'selectAction' controllers.treeControl.selectAction controller.model}}>
            <i {{bind-attr class=":icon controllers.treeControl.selectActionIcon"}}></i>
        </span>
    </li>
{{/if}}
<li class="umi-tree-drop-down-wrapper">
    <div {{bind-attr class=":umi-tree-drop-down-toggler view.isOpen"}}>
        <span class="tiny button flat square" {{action "open" target="view"}}>
            <i {{bind-attr class=":icon :black view.isOpen:icon-top:icon-bottom"}}></i>
        </span>
    </div>
    {{#if view.isOpen}}
        <div class="umi-tree-drop-down s-unselectable">
            <ul class="list-action">
                {{#each controllers.treeControl.actionList}}
                    {{#view view.itemView action=this}}
                        <i {{bind-attr class=":icon :icon-accept view.isFastAction::white"}} {{action 'toggleFastAction' this}}></i>
                        <span {{action 'selectAction' this controller.model}}>{{displayName}}</span>
                    {{/view}}
                {{/each}}
            </ul>
        </div>
    {{/if}}
</li>