<div class="blog-post">
    <h1>{{ page.displayName }}</h1>
    <p class="blog-post-meta">
        <time datetime="{{ page.publishTime.format('c') }}">
            {{ page.publishTime.format('d.m.Y | H:i') }}
        </time>
        {{ translate('Автор') }}: <a href="{{ blogPost.author.getPageUrl() }}">{{ blogPost.author.displayName }}</a>
    </p>

    {{ page.contents | raw }}

</div>

<h1>{{ translate('Комментарии') }}:</h1>
{{ widget('blog.comment.list', {'blogPost' : page, 'template' : 'list'}) }}

{{ widget('blog.comment.add', {'blogPost' : page, 'template' : 'addComment'}) }}