<div class="blog-post">
    <h1>{{ blogDraft.displayName }}</h1>
    <p class="blog-post-meta">
        <time datetime="{{ blogDraft.publishTime.format('c') }}">
            {{ blogDraft.publishTime.format('d.m.Y | H:i') }}
        </time>
        {{ translate('Автор') }}: <a href="{{ blogDraft.author.getPageUrl() }}">{{ blogDraft.author.displayName }}</a>
        {{ widget('blog.draft.editDraftLink', {'blogDraft' : blogDraft, 'template' : 'editDraftLink'}) }}
    </p>

    {{ blogDraft.announcement | raw }}

    <a href="{{ blogDraft.getPageUrl() }}">{{ translate('Читать далее') }}</a>
    {{ widget('blog.draft.publishDraft', {'blogDraft' : blogDraft, 'template' : 'publishDraftForm'}) }}
</div>