{% extends "error/widget.base.twig" %}

{% block start %}
<div>
    {% endblock %}

    {% block end %}
</div>
{% endblock %}

{% block error404 %}
    <h1>A 404 error occurred</h1>
    {{ error.getMessage() }}
{% endblock %}

{% block error403 %}
    <h1>Access denied</h1>

{% endblock %}

{% block stack_error %}

{% endblock %}

{% block error500 %}
    <h1>An error occurred</h1>

    <h2>{{ error.getMessage() }}</h2>

    <!-- hr/>
    <h3>Additional information:</h3>

    <dl>
        <dt>File:</dt>
        <dd>
            {{ error.getFile() }}:{{ error.getLine() }}
        </dd>
        <dt>Message:</dt>
        <dd>
            {{ error.getMessage() }}
        </dd>
        <dt>Stack trace:</dt>
        <dd>
            <pre>{{ error.getTraceAsString() }}</pre>
        </dd>
    </dl -->
{% endblock %}




