
<div class="blog-post">
    <h2 class="blog-post-title">{{ page.displayName }} </h2>
    {{ page.contents | raw }}

    {% if (authenticated) %}
        {{ translate("You are already logged in")  }}.
        <p>
            {{ widget('users.profile.link', {'template' : 'link'}) }}
        </p>
        {{ widget('users.authorization.logoutForm', {'template' : 'logoutForm'}) }}
    {% else %}

        {% set errors = errors ?: null %}

        {{ include('form/form.twig', {'form' : form})  }}

    {% endif %}

</div>