{{#each content itemController="formToolbarItem"}}

    {{#if isApply}}
        <li>
            {{#view "saveButton" class="umi-button wide" model=parentController.parentController.model.object}}
                {{displayName}}
            {{/view}}
        </li>
    {{/if}}

    {{#if isSwitchActivity}}
        <li>
            {{#if parentController.parentController.model.object.active}}
                <a href="javascript:void(0)" class="umi-button-icon-32 umi-light-bg" {{action 'switchActivity' parentController.parentController.model.object}}>
                    <i class="icon icon-pause"></i>
                </a>
            {{else}}
                <a href="javascript:void(0)" class="umi-button-icon-32 umi-light-bg" {{action 'switchActivity' parentController.parentController.model.object}}>
                    <!--TODO Сделать иконку play-->
                    <i class="icon icon-triangle"></i>
                </a>
            {{/if}}
        </li>
    {{/if}}

    {{#if isBackups}}
        {{#view "formControlDropUp" tagName="li"}}
            <a href="javascript:void(0)" class="umi-button-icon-32 umi-light-bg" {{action "open" target="view"}}>
                <i class="icon icon-6"></i>
            </a>
            <div class="f-dropdown umi-dropup dropdown-rows">
                <div class="row collapse">
                    <div class="columns small-12">
                        <strong>{{displayName}}</strong>
                    </div>
                </div>
                <div class="s-scroll-wrap">
                    <div>
                        {{#each parentController.backupList}}
                            <div class="row collapse" {{action 'applyBackup' this}}>
                                <div class="columns small-6 place-button">
                                    {{#if isActive}}
                                        <button class="button flat tiny square">
                                            <i class="icon icon-accept"></i>
                                        </button>
                                    {{else}}
                                        <button class="button flat tiny square">
                                            <i class="icon icon-renew"></i>
                                        </button>
                                    {{/if}}
                                    {{date.date}}
                                </div>
                                <div class="columns small-6">
                                    {{#if user}}
                                        {{user}}
                                    {{else}}
                                        Имя пользователя
                                    {{/if}}
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        {{/view}}
    {{/if}}

    {{#if isTrash}}
        <li>
            <a href="javascript:void(0)" class="umi-button-icon-32 umi-light-bg" {{action "trash" parentController.parentController.model.object "form"}}>
                <i class="icon icon-delete"></i>
            </a>
        </li>
    {{/if}}
{{/each}}