<div class="blog-post">
    <h2 class="blog-post-title">{{ page.getHeader() }} </h2>
    {{ page.contents | raw }}

    {% if (success) %}

        {% if (authenticated) %}

            <div class="alert alert-success">
                <p>{{ translate("You have successfully registered and logged in") }}.</p>
            </div>
            <p>
                {{ widget('users.profile.link', {'template' : 'link'}) }}
            </p>
            {{ widget('users.authorization.logoutForm', {'template' : 'logoutForm'}) }}

        {% else %}

            <div class="alert alert-warning">
                <p>{{
                        translate("Registration email sent to {email}. Open this email to finish signup.",
                        {'email' : user.email})
                }}</p>
            </div>

        {% endif %}
    {% else %}

        {% set errors = errors ?: null %}

        {{ include('form/form.twig', {'form' : form, 'errors' : errors})  }}

    {% endif %}

</div>
