{{ include('breadcrumbs.twig') }}

<div class="blog-post">
    <h1>{{ page.displayName }}</h1>
    <p class="blog-post-meta">
        {% if (page.publishTime) %}
        <time datetime="{{ page.publishTime.format('c') }}">
            {{ page.publishTime.format('d.m.Y | H:i') }}
        </time>
        {% endif %}
        {% if page.author %}{{ translate('Author') }}: <a href="{{ page.author.getPageUrl() }}">{{ page.author.displayName }}</a>{% endif %}
    </p>

    {{ page.contents | raw }}

</div>

<h1>{{ translate('Comments') }}:</h1>

{{ widget('blog.comment.list', {'blogPost' : page, 'template' : 'list'}) }}

{{ widget('blog.comment.add.addForm', {'blogPost' : page, 'template' : 'addComment'}) }}