<div class="blog-post">
    <h1>{{ blogPost.displayName }}</h1>
    <p class="blog-post-meta">
        {% if (blogPost.publishTime) %}
        <time datetime="{{ blogPost.publishTime.format('c') }}">
            {{ blogPost.publishTime.format('d.m.Y | H:i') }}
        </time>
        {% endif %}
        {% if (blogPost.author) %}{{ translate('Author') }}: <a href="{{ blogPost.author.getPageUrl() }}">{{ blogPost.author.displayName }}</a>{% endif %}
        {{ widget('blog.post.edit.editLink', {'blogPost' : blogPost, 'template' : 'editPostLink'}) }}
    </p>

    {{ blogPost.announcement | raw }}

    <a href="{{ blogPost.getPageUrl() }}">{{ translate('ReadMore') }}</a>

    <div class="btn-toolbar">
        {{ widget('blog.post.toDraftForm', {'blogPost' : blogPost, 'template' : 'unPublishPostForm'}) }}
    </div>
</div>