<nav class="top-bar umi-top-bar" data-topbar data-options="is_hover: false">
    <section class="top-bar-section">

        <ul>
            <li>
                <a href="javascript:void(0)" {{action 'viewOnSite'}} class="left-off-canvas-toggle">
                    {{i18n "Open site in new tab"}}
                </a>
            </li>

            {{#if controller.settingsAllowed}}
                <li>
                    {{#link-to 'settings' class="left-off-canvas-toggle"}}{{i18n "System settings"}}{{/link-to}}
                </li>
            {{/if}}

            <li class="right has-dropdown umi-top-bar-user-menu">
                <a href="javascript:void(0)">mail@yandex.ru</a>
                <ul class="dropdown umi-top-bar-user-menu-drop-down umi-hide-on-html">
                    <li><a href="javascript:void(0)" {{action 'logout'}}>{{i18n "Logout"}}</a></li>
                </ul>
            </li>

            <li class="right">
                {{!render "search"}}
            </li>

            {{view "notificationList"}}
        </ul>

    </section>
</nav>