{{#if hasFieldset}}
    {{#view "magellan" elements=model.viewSettings.form.elements}}
        {{#each formElement in model.viewSettings.form.elements itemController="FormElement"}}
            {{#if isFieldset}}
                {{#view view.buttonView model=formElement}}{{formElement.label}}{{/view}}
            {{/if}}
        {{/each}}
    {{/view}}
{{/if}}

<div class="row s-full-height collapse">
    <div class="columns small-12 maggelan-content">
        {{#each formElements in model.viewSettings.form.elements itemController="FormElement"}}
            {{#if isFieldset}}
                <fieldset id="fieldset-{{unbound formElements.name}}">
                    <legend {{action 'expand'}}><i {{bind-attr class=":icon isExpanded:icon-bottom:icon-right"}}></i>{{formElements.label}}</legend>
                    {{#if isExpanded}}
                        {{#each meta in formElements.elements}}
                            {{view "field" objectBinding="object" metaBinding="meta"}}
                        {{/each}}
                    {{/if}}
                </fieldset>
            {{else}}
                {{view "field" objectBinding="object" metaBinding="this"}}
            {{/if}}
        {{/each}}
    </div>
</div>

<ul class="button-group umi-form-control-buttons">
    <li>
        {{#view "saveButton" class="button s-margin-clear wide left" model=model.object}}
            {{#if model.object.isSaving}}
                Сохранено
            {{else}}
                {{#if model.object.isValid}}
                    {{#if model.object.isDirty}}
                        Сохранить
                    {{else}}
                        Сохранено
                    {{/if}}
                {{else}}
                    Введены некоректные данные
                {{/if}}
            {{/if}}
        {{/view}}
    </li>
    <li>
        <span class="button white square" {{action 'toggleProperty' 'active'}}>
            {{#if model.object.active}}
                <i class="icon icon-pause"></i>
            {{else}}
                <i class="icon icon-pause white"></i>
            {{/if}}
        </span>
    </li>
    <!-- Бэкапы -->
    {{#if hasBackups}}
        {{#view "formControlDropUp" tagName="li"}}
            <span class="button white square" {{action "open" target="view"}}>
                <i class="icon icon-6"></i>
            </span>
            <div class="f-dropdown umi-dropup dropdown-rows">
                <div class="row collapse">
                    <div class="columns small-12">
                        <strong>{{backups.displayName}}</strong>
                    </div>
                </div>
                <div class="s-scroll-wrap">
                    <div>
                        {{#each backup in backups.list}}
                            <div class="row collapse" {{action 'applyBackup' backup}}>
                                <div class="columns small-6 place-button">
                                    {{#if backup.isActive}}
                                        <button class="button flat tiny square">
                                            <i class="icon icon-accept"></i>
                                        </button>
                                    {{else}}
                                        <button class="button flat tiny square">
                                            <i class="icon icon-renew"></i>
                                        </button>
                                    {{/if}}
                                    {{backup.date.date}}
                                </div>
                                <div class="columns small-6">
                                    {{#if backup.user}}
                                        {{backup.user}}
                                    {{else}}
                                        Пустое значение
                                    {{/if}}
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        {{/view}}
    {{/if}}
    <!-- Права доступа -->
    {{#view "formControlDropUp" tagName="li"}}
        <span class="button white square" {{action "open" target="view"}}>
            <i class="icon icon-key"></i>
        </span>
        <div class="f-dropdown umi-dropup dropdown-rows">
            <div class="row collapse">
                <div class="columns small-12">
                    <strong>{{access.displayName}}</strong>
                    <div class="right icons-group">
                        {{#each access.actions}}
                            <i class="icon icon-{{unbound name}}"></i>
                        {{/each}}
                    </div>
                </div>
            </div>
            <div class="s-scroll-wrap">
                <div>
                    <div class="row collapse">
                        <div class="columns small-12">
                            {{access.global.displayName}}
                            <div class="right checkbox-group">
                                {{#each access.global.actions}}
                                    {{view "checkboxCustom" checkedBinding="allow"}}
                                {{/each}}
                            </div>
                        </div>
                    </div>
                    {{#each user in access.users}}
                        <div class="row collapse">
                            <div class="columns small-12">
                                {{#if user.displayName}}
                                    {{user.displayName}}
                                {{else}}
                                    Пустое значение
                                {{/if}}
                                <div class="right checkbox-group">
                                    {{#each user.actions}}
                                        {{view "checkboxCustom" checkedBinding="allow"}}
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
            <div class="row collapse">
                <div class="columns small-12">
                    <input type="text" class="s-margin-clear" {{bind-attr placeholder="access.action.displayName"}}/>
                </div>
            </div>
        </div>
    {{/view}}
    <li><span class="button white">Удалить</span></li>
</ul>