{{#if view.meta.attributes.hasIcon}}
    <i class="icon icon-{{unbound view.meta.name}}"></i>
{{/if}}

{{#if view.defaultBehaviour.attributes.label}}
    {{view.defaultBehaviour.attributes.label}}
{{/if}}

<span {{action 'open' target="view"}}></span>

<ul class="f-dropdown">
    {{#each view.meta.behaviour.choices}}
        {{#view view.itemView}}
            <i {{bind-attr class=":icon :icon-accept view.isDefaultBehaviour::white"}} {{action 'toggleDefaultBehaviour' view._parentView.contentIndex target="view.parentView"}}></i>
            <a {{action 'sendActionForBehaviour' behaviour}}>
                {{attributes.label}}
            </a>
        {{/view}}
    {{/each}}
</ul>
