{{#if visible}}
    <li data-id="{{unbound node.id}}" {{bind-attr class="node.isDragged:hide node.root"}}>

        {{#view "treeItem" contentBinding="this"}} <!-- div -->
            {{#if node.hasChildren}}
                <span {{action "expanded" node}} {{bind-attr class=":umi-expand"}}>
                    {{#if node.isLoaded}}
                        <i class="animate animate-loader-20"></i>
                    {{else}}
                        <i {{bind-attr class=":icon isExpanded:icon-bottom:icon-right"}}></i>
                    {{/if}}
                </span>
                <i {{bind-attr class=":icon :umi-tree-type-icon :icon-document"}}></i>
            {{else}}
                <i {{bind-attr class=":icon :umi-tree-type-icon :icon-document"}}></i>
            {{/if}}

            {{#link-to "treeActive" node.id}}
                {{node.title}}
            {{/link-to}}
        {{/view}}

        <ul class="button-group umi-tree-context-menu right">
            <!--<li>-->
                <!--<a href="#">-->
                    <!--<i class="icon white icon-ok-thin"></i>-->
                <!--</a>-->
            <!--</li>-->

            <li class="umi-tree-drop-down-toggler">
                <a href="#" class="tiny button flat square s-margin-clear">
                    <i class="icon black icon-bottom"></i>
                </a>
            </li>
        </ul>

        <script type="text/x-handlebars" id="umi-tree-menu">
            <div class="umi-tree-drop-down s-unselectable">
                <div class="umi-tree-drop-down-show-button">
                    <i class="icon black icon-top"></i>
                    <div class="umi-tree-drop-down-shadow-hide"></div>
                </div>
                <div class="umi-tree-tabs">
                    <div class="umi-tree-tab active"><i class="icon icon-add"></i></div>
                    <div class="umi-tree-tab"><i class="icon icon-pile"></i></div>
                    <div class="umi-tree-tab"><i class="icon icon-write"></i></div>
                    <div class="umi-tree-tab"><i class="icon icon-pause"></i></div>
                    <div class="umi-tree-tab"><i class="icon icon-delete"></i></div>
                </div>

                <div class="umi-tree-tabs-content">
                    <div class="umi-tree-tab-content active">
                        <ul>
                            <li>Добавить новость</li>
                            <li>Добавить рубрику</li>
                        </ul>
                    </div>
                    <div class="umi-tree-tab-content">
                        <ul>
                            <li>Создать копию</li>
                        </ul>
                    </div>
                    <div class="umi-tree-tab-content">
                        <ul>
                            <li>Редактировать</li>
                        </ul>
                    </div>
                    <div class="umi-tree-tab-content">
                        <ul>
                            <li>Снять активность</li>
                        </ul>
                    </div>
                    <div class="umi-tree-tab-content">
                        <ul>
                            <li>Удалить рубрику</li>
                        </ul>
                    </div>
                </div>

            </div>
        </script>

        {{#if node.hasChildren}}
            {{#if node.isExpanded}}
                <ul class="umi-tree-list" data-parent-id="{{unbound node.id}}">
                    {{#each node in sortedChildren itemController="treeItem"}}
                        {{partial "treeItem"}}
                    {{/each}}
                </ul>
            {{/if}}
        {{/if}}
    </li>
{{/if}}