<div class="columns small-12">
    <div class="row s-full-height-before umi-tree-header">
        {{#if filters}}
        <a href="#" data-dropdown="drop" class="button flat square s-margin-clear right">
            <i class="icon icon-settings"></i>
        </a>
        <ul id="drop" data-dropdown-content class="f-dropdown" data-align="right">
            {{#each filters}}
            <li>
                {{#if checkbox}}
                <label><input type="checkbox" name=name checked=checked {{action 'filter' name}}/> <span class="title">{{title}}</span></label>
                {{/if}}
                {{#if radio}}
                {{#each element in elements}}
                <div>
                    <label>
                        <input type="radio" name=name value=element.value checked=element.checked {{action 'filter' name
                        element}}/> <span class="title">{{element.title}}</span>
                    </label>
                </div>
                {{/each}}
                {{/if}}
            </li>
            {{/each}}
        </ul>
        {{/if}}
    </div>
    <div class="row s-full-height">
        <ul class="umi-tree-list umi-tree">
            <li class="root">
                <div class="umi-item">
                    <span class="umi-expand-hover">
                        <i class="icon icon-bottom"></i>
                    </span>
                    <i class="icon icon-document"></i>
                    <span>{{root.name}}</span>
                </div>
                <ul class="umi-tree-list umi-tree">
                    {{#each node in root.children itemController="treeItem"}}
                        {{partial "treeItem"}}
                    {{/each}}
                </ul>
            </li>
        </ul>
    </div>
</div>