{{ include('breadcrumbs.twig') }}

<h1>{{ page.getHeader() }}</h1>

{% if (page.getTypeName() == 'static.widget') %}
    {{ page.description | raw }}
    {{ page.parameters | raw }}
    {{ page.returnValue | raw }}
{% elseif (page.getTypeName() == 'static.controller') %}
    {{ page.description | raw }}
    {{ page.returnValue | raw }}
{% else %}
    {{ widget('structure.menu.auto', {'depth': 10, 'branch' : page, 'template' : 'tree'})|raw }}
{% endif %}

{{ page.contents | raw }}

