{{ include('breadcrumbs.twig') }}

<div class="blog-post">
    <h2 class="blog-post-title">{{ page.getHeader() }} </h2>
    {{ page.contents | raw }}

    {% if (voted) %}
        <p>{{ translate("You have already voted") }}.</p>
    {% else %}
        {% set errors = errors ?: null %}
        {{ include('form/form.twig', {'form' : form, 'errors' : errors}) }}
    {% endif %}

</div>