{% if (menu) %}
    <ul class="container simple horizontal">
        <li>
            <a id="js-menu-main">&nbsp;</a>
        </li>
        {% for pageInfo in menu %}
            <li class="{{ pageInfo.active ? 'active' }}">
            {% if (pageInfo.children) %}<a class="mobile-button">&nbsp;</a>{% endif %}
                <a
                    class="{% if (pageInfo.children) %}dropdown{% endif %}"
                    href="{{ pageInfo.page.getPageUrl() }}"
                    >{{ pageInfo.page.displayName }}</a>

                {% if (pageInfo.children) %}
                    <ul class="simple">
                        {% for subPageInfo in pageInfo.children %}
                            <li>
                                <a class="list-group-item {{ subPageInfo.active ? 'active' }}"
                                   href="{{ subPageInfo.page.getPageUrl() }}">{{ subPageInfo.page.displayName }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}

            </li>
        {% endfor %}
    </ul>
{% endif %}