{% if (menu) %}
    <aside>
    <h4>Модули</h4>
    {% for pageInfo in menu %}
        <h4>
            <a class="{{ pageInfo.active ? 'active' }}" href="{{ pageInfo.page.getPageUrl() }}">{{ pageInfo.page.displayName }}</a>
        </h4>

        {% if (pageInfo.children) %}
            <ul class="simple small">
            {% for subPageInfo in pageInfo.children %}
                    <li>
                        <a class="{{ subPageInfo.active ? 'active' }}"
                           href="{{ subPageInfo.page.getPageUrl() }}">{{ subPageInfo.page.displayName }}</a>
                    </li>
            {% endfor %}
            </ul>
        {% endif %}

    {% endfor %}
    </aside>
{% endif %}

