{{#link-to "settings.component" name tagName="div" class="umi-item" disabled=true bubbles=false}}
    {{#if components}}
        <span {{action "expanded" on="mouseDown" target="view.parentView"}} {{bind-attr class=":umi-expand"}}>
            <i {{bind-attr class=":icon view.parentView.isExpanded:icon-bottom:icon-right"}}></i>
        </span>
        <i {{bind-attr class=":icon :umi-tree-type-icon :icon-document"}}></i>
    {{else}}
        <i {{bind-attr class=":icon :umi-tree-type-icon :icon-document"}}></i>
    {{/if}}

    {{#if resource}}
        {{#link-to "settings.component" name class="tree-item-link"}}
            {{displayName}}
        {{/link-to}}
    {{else}}
        {{displayName}}
    {{/if}}
{{/link-to}}

{{#if view.isExpanded}}
    <ul class="umi-tree-list">
        {{#each components}}
            {{view "treeSimpleItem"}}
        {{/each}}
    </ul>
{{/if}}

