<nav class="umi-top-bar row">
    <ul class="umi-top-bar-list left small-5 columns">
        <li>
            <span class="button tiny flat dropdown tiny-arrow f-arrowed umi-top-bar-button" data-dropdown
                  data-options="selectorById: false;">
                <i class="icon icon-butterfly"></i>
                <span>Модули</span>
            </span>
            <ul class="f-dropdown f-dropdown-padding f-dropdown-parent" data-dropdown-content>
                    <li><ul class="f-dropdown-double f-dropdown-child">
                        {{#each view.modules}}
                            <li>
                                {{#link-to "module" name class="umi-top-bar-dropdown-modules-item"}}
                                    <i class="umi-top-bar-module-icon umi-dock-module-{{unbound name}}"></i>
                                    <span>{{displayName}}</span>
                                {{/link-to}}
                            </li>
                        {{/each}}
                    </ul>
                    </li><li>
                    <ul class="f-dropdown-double f-dropdown-child highlighted">
                        {{#each view.modules}}
                            <li>
                                {{#link-to "module" name class="umi-top-bar-dropdown-modules-item"}}
                                    <i class="umi-top-bar-module-icon umi-dock-module-{{unbound name}}"></i>
                                    <span>{{displayName}}</span>
                                {{/link-to}}
                            </li>
                        {{/each}}
                    </ul></li>
            </ul>

        </li>
        <li>
            <a href="{{unbound view.siteUrl}}" target="_blank" class="button tiny flat umi-top-bar-button">
                <i class="icon blue icon-viewOnSite"></i>
            </a>
        </li>
        <li>
            <a href="http://developers.umi-cms.ru" target="_blank" class="button tiny flat umi-top-bar-button">
                <i class="icon blue icon-documentation"></i>
            </a>
        </li>
    </ul>

    <div class="small-2 columns active-project">
        <span class="umi-top-bar-label">{{view.activeProject}}</span>
    </div>

    {{#if routeIsTransition}}
        <span class="umi-top-bar-label umi-top-bar-loader">
            {{i18n "Loading"}}...
        </span>

        <div class="umi-overlay"></div>
    {{/if}}

    <ul class="umi-top-bar-list right small-5 columns">
        <li>
            <span class="button tiny flat dropdown tiny-arrow f-arrowed umi-top-bar-button" data-dropdown
                  data-options="selectorById: false;">
                {{view.userName}}
            </span>
            <ul class="f-dropdown f-dropdown-parent f-dropdown-padding" data-dropdown-content>
                <li>
                    {{render 'dockControlPanel'}}
                </li>
                <li>
                    <ul class="f-dropdown-child f-dropdown-double highlighted">
                        <li>
                            {{#link-to "context" "users" "user" view.userId }}
                                <i class="icon icon-profile"></i> {{i18n "Profile"}}
                            {{/link-to}}
                        </li>
                        <li>
                            <a href="javascript:void(0)" {{action "logout"}}>
                                <i class="icon icon-exit"></i> {{i18n "Logout"}}
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        {{view "notificationList"}}
    </ul>
</nav>