<div class="umi-popup-header">
    <span class="umi-popup-title">{{view.title}}</span>

    <a href="#" class="umi-popup-close-button" {{action "closePopup" target="view"}}>
        <i class="icon white icon-close"></i>
    </a>
</div>

<div class="umi-popup-content">
    {{#if view.hasScroll}}
        <div class="s-scroll-wrap">
            <div>
                {{yield}}
            </div>
        </div>
    {{else}}
        {{yield}}
    {{/if}}
</div>

<div class="umi-popup-resizer"></div>