<div class="s-full-height">
    <div {{bind-attr class=":off-canvas-wrap :s-full-height sideBarControl:move-right"}}>
        <div class="inner-wrap s-full-height">
            {{#if sideBarControl}}
                <aside class="left-off-canvas-menu s-unselectable" style="overflow: hidden;">
                    {{outlet 'sideBar'}}
                </aside>
                <div class="umi-divider"></div>
            {{/if}}
    
            <div class="row s-full-height-before s-margin-clear umi-mode">
                <section class="left">
                    {{#if sideBarControl}}
                        <a class="left-off-canvas-toggle">
                            <span class="icon icon-list"></span>
                        </a>
                    {{/if}}
                </section>

                <script>
                    //Хак-ускоритель переключения mode - переключает класс кнопки без задержки
                    $('.button-group .button').mousedown(function(){
                        $('.button-group .button').removeClass('active');
                        $(this).addClass('active');
                    });
                </script>

                <ul class="button-group right">
                    {{#each control in controller.contentControls}}
                        <li>{{#link-to 'action' control.name classNames="button"}}{{control.displayName}}{{/link-to}}</li>
                    {{/each}}
                </ul>

                <h5>{{displayName}}</h5>
            </div>
    
    
            <div class="row s-full-height umi-component">
                <div class="columns small-12 s-padding-clear">
                    {{outlet}}
                </div>
            </div>
        </div>
    </div>
</div>