<div class="umi-table-header-fixed">
    <table>
        <tr class="umi-table-titles">
            <td class="umi-table-header-column">
                <div class="umi-table-title-div">№</div>
            </td>
            {{#each view.headers}}
                <td class="umi-table-header-column">
                    <div class="umi-table-title-div">{{unbound this}}</div>
                </td>
            {{/each}}
            <td class="umi-table-empty-header-column"></td>
        </tr>
    </table>
</div>

<div class="umi-table-content">
    <table>
        <thead>
            <tr class="umi-table-titles">
                <td class="umi-table-header-column">
                    <div class="umi-table-title-div">№</div>
                </td>
                {{#each view.headers}}
                    <td class="umi-table-header-column">
                        <div class="umi-table-title-div">{{unbound this}}</div>
                    </td>
                {{/each}}
                <td class="umi-table-empty-header-column"></td>
            </tr>
        </thead>

        <tbody>
            {{#each elements in view.data}}
                <tr class="umi-table-tr">
                    <td>
                        <div class="umi-table-title-div">{{_view.contentIndex}}</div>
                    </td>
                    {{#each elements}}
                        <td>
                            <div class="umi-table-cell-div">{{unbound this}}</div>
                        </td>
                    {{/each}}
                    <td class="umi-table-empty-column"></td>
                </tr>
            {{else}}
                <tr class="umi-metrika-empty-row">
                    <!-- TODO colspan заменить на переменную с количеством колонок -->
                    <td class="umi-table-empty-result" colspan="4">
                        Нет записей
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<div class="umi-table-footer-fixed">
    <ul class="pagination">
        <li class="arrow unavailable"><a href="">&laquo;</a></li>
        <li class="current"><a href="">1</a></li>
        <li><a href="">2</a></li>
        <li><a href="">3</a></li>
        <li><a href="">4</a></li>
        <li class="unavailable"><a href="">&hellip;</a></li>
        <li><a href="">12</a></li>
        <li><a href="">13</a></li>
        <li class="arrow"><a href="">&raquo;</a></li>
    </ul>
</div>