{% if (tree) %}
    <ul class="bottomMenu">
        {% for node in tree %}
            <li {% if node.active %}class="active"{% endif %}>
                {% if node.current %}
                    {{ node.item.displayName }}
                {% else %}
                    <a href="{{ node.item.getItemUrl() ?: anchor() }}"
                            {{ node.item.getItemType() == 'externalItem' ? 'target="blank"' }}>
                        {{ node.item.displayName }}
                    </a>
                {% endif %}
                {{ include('customMenu.twig', {'tree' : node.children}) }}
            </li>
        {% endfor %}
    </ul>
{% endif %}
