{{#with createObject as object}}
    {{#if hasFieldset}}
        {{#view "magellan" elements=model.viewSettings.elements}}
            {{#each formElement in model.viewSettings.elements itemController="FormElement"}}
                {{#if isFieldset}}
                    {{#view view.buttonView model=formElement}}{{formElement.label}}{{/view}}
                {{/if}}
            {{/each}}
        {{/view}}
    {{/if}}

    <div class="row s-full-height collapse">
        <div class="columns small-12 magellan-content">
            {{#each formElements in model.viewSettings.elements itemController="FormElement"}}
                {{#if isFieldset}}
                    <fieldset id="fieldset-{{unbound formElements.name}}">
                        <legend {{action 'expand'}}><i {{bind-attr class=":icon isExpanded:icon-bottom:icon-right"}}></i>{{formElements.label}}</legend>
                        {{#if isExpanded}}
                            {{#each meta in formElements.elements}}
                                {{view "field" objectBinding="object" metaBinding="meta"}}
                            {{/each}}
                        {{/if}}
                    </fieldset>
                {{else}}
                    {{view "field" objectBinding="object" metaBinding="this"}}
                {{/if}}
            {{/each}}
        </div>
    </div>

    <ul class="button-group umi-form-control-buttons">
        <li>
            {{#view "saveButton" class="button s-margin-clear wide left" model=object}}
                {{#if object.isSaving}}
                    Сохранено
                {{else}}
                    {{#if object.isValid}}
                        {{#if object.isDirty}}
                            Сохранить
                        {{else}}
                            Сохранено
                        {{/if}}
                    {{else}}
                        Введены некоректные данные
                    {{/if}}
                {{/if}}
            {{/view}}
        </li>
        <li><span class="button white">Отменить</span></li>
    </ul>
{{/with}}