{{#link-to "settings.component" view.nestedSlug tagName="div" class="umi-item" disabled=true bubbles=false}}
{{#if components}}
<span {{action "expanded" target="view"}} {{bind-attr class=":umi-expand"}}>
<i {{bind-attr class=":icon view.isExpanded:icon-bottom:icon-right"}}></i>
</span>
<i {{bind-attr class=":icon :umi-tree-type-icon :icon-document"}}></i>
{{else}}
<i {{bind-attr class=":icon :umi-tree-type-icon :icon-document"}}></i>
{{/if}}

{{#if resource}}
{{#link-to "settings.component" view.nestedSlug class="tree-item-link"}}
{{displayName}}
{{/link-to}}
{{else}}
{{displayName}}
{{/if}}
{{/link-to}}

{{#if view.isExpanded}}
<ul class="umi-tree-list">
    {{#each components}}
    {{view "treeSimpleItem"}}
    {{/each}}
</ul>
{{/if}}

