{{ include('partial/authorization.twig') }}

<div class="sidebar-module sidebar-module-inset">
    <h4>{{ translate('RSSFeed') }}</h4>
    <p>{{ translate('News') }}: {{ widget('news.item.rssLink', {'template' : 'rssLink'}) }}</p>
</div>
<div class="sidebar-module">
    <h4>{{ translate('Rubrics') }}</h4>
    {{ widget('news.rubric.list', {'template' : 'listShort'}) }}
</div>
<div class="sidebar-module">
    <h4>{{ translate('Subjects') }}</h4>
    {{ widget('news.subject.list', {'template' : 'listShort'}) }}
</div>

{{ widget('structure.infoblock.view', {'template' : 'socialGroup', 'infoBlock' : 'commonInfoBlock'}) }}