{{ include('partial/authorization.twig') }}

<div class="sidebar-module sidebar-module-inset">
    <h4>{{ translate('RSS ленты') }}</h4>
    <p>{{ translate('Блоги') }}: {{ widget('blog.post.rssLink', {'template' : 'rssLink'}) }}</p>
</div>
<div class="sidebar-module">
    <h4>{{ translate('Категории') }}</h4>
    {{ widget('blog.category.list', {'template' : 'listShort'}) }}
</div>
<div class="sidebar-module">
    <h4>{{ translate('Облако тэгов') }}</h4>
    {{ widget('blog.tag.cloud', {'template' : 'cloud'}) }}
</div>
<div class="sidebar-module">
    <h4>{{ translate('Авторы') }}</h4>
    {{ widget('blog.author.list', {'template' : 'listShort'}) }}
</div>
<div class="sidebar-module">
    <h4>{{ translate('Посты автора') }}</h4>
    <ol class="list-unstyled">
        <li>{{ translate('Черновики') }}: {{ widget('blog.draft.ownListLink', {'template' : 'draftLinkAuthor'}) }}</li>
        <li>{{ translate('Посты на модерации') }}: {{ widget('blog.moderate.ownListLink', {'template' : 'moderateLink'}) }}</li>
        <li>{{ translate('Отклонённые посты') }}: {{ widget('blog.reject.listLink', {'template' : 'listLink'}) }}</li>
    </ol>
</div>
<div class="sidebar-module">
    <h4>{{ translate('Модерирование') }}</h4>
    <ol class="list-unstyled">
        <li>{{ translate('Посты на модерации') }}: {{ widget('blog.moderate.allListLink', {'template' : 'moderateLink'}) }}</li>
    </ol>
</div>