{{ include('breadcrumbs.twig') }}

<h1>{{ page.getHeader() }}</h1>
{{ page.contents | raw }}

{{ widget('news.rubric.list', {'parentRubric' : page, 'template' : 'list'}) }}
{{ widget('news.rubric.newsList', {'rubrics' : [page], 'template' : 'newsList'}) }}