{{#if model.title}}
    <h5 class="subheader umi-dialog-header">{{model.title}}</h5>
{{/if}}
<div class="umi-dialog-content">
    {{#if model.content}}
        {{{model.content}}}
    {{/if}}
</div>
{{#if model.proposeRemember}}
    <div class="umi-dialog-content">
        {{checkbox-element}} {{i18n "Remember my choice"}}
    </div>
{{/if}}
{{#if model.confirm}}
    <button class="button small secondary left" {{action 'confirm' target="view"}}>{{model.confirm}}</button>
{{/if}}
{{#if model.reject}}
    <button class="button small secondary right" {{action 'close' target="view"}}>{{model.reject}}</button>
{{/if}}

