<div class="columns small-12">
    <div class="umi-update-layout">
        <span class="icon icon-butterfly umi-update-layout-logo"></span>
        <span class="umi-update-layout-content">
            <h2>UMI.CMS Lite</h2>
            <h5>{{i18n "Current version" "updateLayout"}} {{view.data.control.params.currentVersion.version}}</h5>
            {{#if view.data.control.params.latestVersion}}
                <h5>{{i18n "Latest version" "updateLayout"}} {{view.data.control.params.latestVersion.version}}</h5>
                <br />
                <span class="button large" {{action "update" target="view"}}>{{view.buttonLabel}}</span>
            {{else}}
                <br />
                <span class="button large disabled">{{i18n "Nothing update" "updateLayout"}}</span>
            {{/if}}
        </span>
    </div>
</div>