<div class="umi-table-control-header">
	<div class="umi-table-control-header-left">
		<table class="umi-table-header-left s-unselectable">
			<tr class="umi-table-header-left-title">
				<td class="umi-table-header-column-left">
					<div class="umi-table-title-div-left">
						<input type="checkbox" class="s-margin-clear" />
					</div>
				</td>
			</tr>
			<tr class="umi-table-header-left-filter">
				<td class="umi-table-filter-column-left">
					<div class="umi-table-filter-div-left"></div>
				</td>
			</tr>
		</table>
	</div>

	<div class="umi-table-control-header-center">
        <table class="umi-table-header s-unselectable">
            <tr class="umi-table-titles">
                {{#each meta.columns}}
                    <td class="umi-table-header-column">
                        <div class="umi-table-title-div">{{title}}</div>
                        <div class="umi-table-column-resizer"></div>
                    </td>
                {{/each}}
                <!-- Пустая строка над кнопкой удаления -->
                <td class="umi-table-header-column umi-table-header-column-fixed"><div class="umi-table-title-div">&nbsp;</div></td>
                <!-- TODO Перенести в CSS. float:none - перебиваем лишний стиль от Foundation -->
                <td class="umi-table-header-column-fixed" style="float:none; width: 100%;"></td>
            </tr>

            <tr class="umi-table-filters">
                {{#each meta.columns}}
                    <td class="umi-table-filter-column">
                        <div class="umi-table-filter-div">
                            <div class="umi-table-filter-button umi-table-filter-button-left"><i class="icon black icon-left-thin umi-table-pin-column"></i></div>
                            <div class="umi-table-filter-input"><input type="text" class="s-margin-clear" /></div>
                            <div class="umi-table-filter-button umi-table-filter-button-right"><i class="icon black icon-bottom-thin umi-table-sort-column"></i></div>
                        </div>
                    </td>
                {{/each}}

                <td class="umi-table-filter-column umi-icon-square">
                    <div class="umi-table-filter-div">
                        <a href="#" {{action "removeRecords"}}><i class="icon icon-delete"></i></a>
                    </div>
                </td>
                <td class="umi-table-filter-column" style="float:none; width: 100%;"><div class="umi-table-filter-div umi-empty-column">&nbsp;</div></td>
            </tr>
        </table>
	</div>

	<div class="umi-table-control-header-right"></div>
</div>


<div class="umi-table-control-content">
	<div class="umi-table-control-content-left">
        <table class="umi-table-left">
            <tbody>
                {{#each object in object.children}}
                    <tr class="umi-table-tr" data-object-id="{{unbound object.id}}">
                        <td>
                            <div class="umi-table-left-div">
                                {{input type="checkbox" class="s-margin-clear" action="check"}}
                            </div>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

    <div class="umi-table-control-content-center">
        <table cellpadding="0" class="umi-table">
            <tbody>
                {{#each object in object.children}}
                    <tr class="umi-table-tr" data-object-id="{{unbound object.id}}">

                        {{#each meta.columns}}
                            <td class="umi-table-cell-td">
                                {{view "tableCell" objectBinding="object" metaBinding="this"}}
                            </td>
                        {{/each}}

                        <td class="umi-table-cell-td">
                            <div class="umi-table-cell-div">
                                <a href="#" class="umi-table-remove-button" data-object-id="{{unbound object.id}}"><i class="icon icon-delete"></i></a>
                            </div>
                        </td>
                        <td class="umi-table-empty-column"></td>
                    </tr>
                {{else}}
                    <!-- TODO Допилить дизайн-->
                    <tr>
                        <td class="umi-table-empty-result">
                            Нет записей
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

	<div class="umi-table-control-content-right"></div>
</div>

<div class="umi-table-control-footer">
    <!-- TODO Допилить. Инлайновые стили, т.к. не известно что здесь конкретно будет -->
    <div class="left" style="width:300px;">
        <a href="#" style="color:#5E667C!important;"><i class="icon icon-download"></i> Экспорт в CSV</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#" style="color:#5E667C!important;"><i class="icon icon-upload"></i> Импорт из CSV</a>
    </div>

    <div class="right" style="width:65px;">
        {{input type="text" value="100" class="s-margin-clear"}}
    </div>

    <div class="right" style="width:150px;">Строк на странице:</div>
</div>