<div class="form-group {{ not element.valid ? 'has-error' }}">
    <label> {{ element.label }} </label>
    {% if (not element.valid) %}
        <div class="alert alert-danger">
            <ul>
                {% for message in element.errors %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <textarea class="form-control" rows="4" {{ element.attributes | raw }} > {{ element.value }} </textarea>
</div>
