<!DOCTYPE html>
<html lang="en">
<head>
    {{ include('partial/head.twig') }}
</head>

<body>

<div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">

        <div class="navbar-collapse collapse">
            {{ widget('structure.menu.auto', {'depth': 1})|raw }}

            {% if (locales) %}
                <ul class="nav navbar-nav navbar-right">
                    {% for localeId,localeInfo in locales %}
                        <li class="{{ localeInfo.current ? 'active' }}">
                            <a href="{{ localeInfo.url }}">{{ translate(localeId) }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

        </div>

    </div>
</div>

<div class="container">

    <header class="blog-header">
        <h1 class="blog-title">{{ translate('Demo lite twig') }}</h1>
        <p class="lead blog-description">{{ translate('Blank-шаблон созданный на Umicms 3') }}</p>
    </header>

    <main class="row">

        <article class="col-sm-8 blog-main">

            {{ contents|raw }}

        </article>

        <aside class="col-sm-3 col-sm-offset-1 blog-sidebar">
            {{ include('partial/sidebar-blog.twig') }}
        </aside>

    </main>

</div>

<footer class="blog-footer">
    <p>
        {{ translate('Demo lite twig build for {bootstrap} by {umicms}',
            {
                'bootstrap' : '<a href="http://getbootstrap.com">Bootstrap</a>',
                'umicms' : '<a href="http://umi-cms.ru">umi-cms</a>',
            }
        ) | raw }}.
    </p>
    <p>
        <a href="#">{{ translate('Наверх') }}</a>
    </p>
</footer>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/bootstrap/js/docs.min.js"></script>
</body>
</html>