{% if (pagination.pagesCount) %}
    <ul class="pagination">
        {% if (pagination.previousPageUrl) %}
            <li><a href="{{ pagination.previousPageUrl }}">{{ translate('Previous') }}</a></li>
        {% endif %}
        {% for page, link in pagination.pagesRange %}
            {% if (page != pagination.currentPage) %}
                <li><a href="{{ link }}">{{ page }}</a></li>
            {% else %}
                <li class="active"><span>{{ page }}</span></li>
            {% endif %}
        {% endfor %}
        {% if (pagination.nextPageUrl) %}
            <li><a href="{{ pagination.nextPageUrl }}">{{ translate('Next') }}</a></li>
        {% endif %}
    </ul>
{% endif %}