{{ widget('structure.menu.auto', {'branch' : 'fda552a8-846a-431d-87bf-ed719cdd884b', 'template': 'side', 'depth' : '2'}) }}

<main>

    <h1>{{ page.getHeader() }}</h1>

    {% if (page.getTypeName() == 'static.controller') %}

        <h3 class="slim">Имя контроллера: {{ page.displayName}} </h3>
        {{ page.description | raw }}
        {{ page.contents | raw }}

        {% if page.templateName %}
            <h2 class="table-header">Шаблон<span class="sub small">{{ page.templateName }}</span></h2>
        {% endif %}

        {{ page.returnValue | raw }}
        {{ page.secondContents | raw }}

        {% if page.twigExample %}
            <h2 class="table-header">Пример шаблона для Twig</h2>
            {{ page.twigExample | raw }}
        {% endif %}

        {% if page.phpExample %}
            <h2 class="table-header">Пример шаблона для PHP</h2>
            {{ page.phpExample | raw}}
        {% endif %}

    {% else %}
        {{ page.contents | raw }}
        {{ widget('structure.menu.auto', {'depth': 10, 'branch' : page, 'template' : 'tree'})|raw }}
    {% endif %}

</main>