{% set lastParent = page.ancestry.result().fetch() %}
{% if (lastParent) %}
    {% set branch = lastParent %}
{% else %}
    {% set branch = page %}
{% endif %}

{% set result = widget('structure.menu.auto', {'depth': 10, 'branch' : branch, 'depth': '2'}) %}
{% if (result['menu']) %}
    <aside>
        <h3>{{ breadcrumbs[1]['displayName'] }}</h3>
        {% for pageInfo in result['menu'] %}
            <h4>
                <a class="{{ pageInfo.active ? 'active' }}" href="{{ pageInfo.page.getPageUrl() }}">{{ pageInfo.page.displayName }}</a>
            </h4>
            {% if (pageInfo.children) %}
                <ul class="simple small">
                    {% for subPageInfo in pageInfo.children %}
                        <li>
                            <a class="{{ subPageInfo.active ? 'active' }}"
                               href="{{ subPageInfo.page.getPageUrl() }}">{{ subPageInfo.page.displayName }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endfor %}
    </aside>
{% elseif (page.getIsDefault()) %}
    <div class="twitter">
        <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/umidevs" data-widget-id="505040233855868928">Твиты пользователя @umidevs</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
{% endif %}

<main>
    <h1>{{ page.getHeader() }}</h1>
    {{ page.contents | raw }}
</main>