{% set lastParent = page.ancestry.result().fetch() %}
{% if (lastParent) %}
    {% set branch = lastParent %}
{% else %}
    {% set branch = page %}
{% endif %}

{% set result = widget('structure.menu.auto', {'depth': 10, 'branch' : branch, 'depth': '2'}) %}
{% if (result['menu']) %}
    <aside>
        <h4>{{ breadcrumbs[1]['displayName'] }}</h4>
        {% for pageInfo in result['menu'] %}
            <h4>
                <a class="{{ pageInfo.active ? 'active' }}" href="{{ pageInfo.page.getPageUrl() }}">{{ pageInfo.page.displayName }}</a>
            </h4>
            {% if (pageInfo.children) %}
                <ul class="simple small">
                    {% for subPageInfo in pageInfo.children %}
                        <li>
                            <a class="{{ subPageInfo.active ? 'active' }}"
                               href="{{ subPageInfo.page.getPageUrl() }}">{{ subPageInfo.page.displayName }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endfor %}
    </aside>
{% endif %}

<main>
    <h1>{{ page.getHeader() }}</h1>
    {{ page.contents | raw }}
</main>