{{ widget('structure.menu.auto', {'branch' : 'd7dda227-cac7-474d-ab0d-d361d0bc16a3', 'template': 'side', 'depth' : '2'}) }}

<main>
    <h1>{{ page.getHeader() }}</h1>

    {% if (page.getTypeName() == 'static.widget') %}
        {# TODO Label #}
        <h3 class="slim">Имя виджета: {{ page.path}}</h3>
        {{ page.description | raw }}
        {{ page.contents | raw }}
        {{ page.parameters | raw }}
        {{ page.returnValue | raw }}
        {{ page.secondContents | raw }}
        {% if page.twigExample %}
            {# TODO Label #}
            <h2 class="table-header">Пример шаблона для Twig</h2>
            {{ page.twigExample | raw }}
        {% endif %}
        {% if page.phpExample %}
            {# TODO Label #}
            <h2 class="table-header">Пример шаблона для PHP</h2>
            {{ page.phpExample | raw}}
        {% endif %}

    {% else %}
        {% if page.contents %}
            {{ page.contents | raw }}
        {% else %}
            {{ widget('structure.menu.auto', {'depth': 10, 'branch' : page, 'template' : 'tree'}) | raw }}
        {% endif %}
    {% endif %}

</main>