<div class="blog-post">
    <h2 class="blog-post-title">{{ page.getHeader() }} </h2>
    {{ page.contents | raw }}

    {% set errors = errors ?: null %}

    {{ include('form/form.twig', {'form' : form}) }}

    <h2>{{ translate('Change password') }}</h2>
    {{ widget('users.profile.password.form', {'template' : 'form'}) }}

</div>