{% if (paginator.pagesCount) %}
    <ul class="pagination">
        {% if (paginator.getPreviousPage()) %}
            <li><a href="{{ paginator.getPreviousPageUrl() }}">{{ translate('Previous') }}</a></li>
        {% endif %}
        {% for page, link in paginator.getRangeUrls() %}
            {% if (page != paginator.getCurrentPage()) %}
                <li><a href="{{ link }}">{{ page }}</a></li>
            {% else %}
                <li class="active"><span>{{ page }}</span></li>
            {% endif %}
        {% endfor %}
        {% if (paginator.getNextPage()) %}
            <li><a href="{{ paginator.getNextPageUrl() }}">{{ translate('Next') }}</a></li>
        {% endif %}
    </ul>
{% endif %}