{% if (paginator.pagesCount) %}
    <ul class="pagination">
        {% if (paginator.previousPage) %}
            <li><a href="{{ paginator.previousPageUrl }}">{{ translate('Previous') }}</a></li>
        {% endif %}
        {% for page, link in paginator.rangeUrls %}
            {% if (page != paginator.currentPage) %}
                <li><a href="{{ link }}">{{ page }}</a></li>
            {% else %}
                <li class="active"><span>{{ page }}</span></li>
            {% endif %}
        {% endfor %}
        {% if (paginator.nextPage) %}
            <li><a href="{{ paginator.nextPageUrl }}">{{ translate('Next') }}</a></li>
        {% endif %}
    </ul>
{% endif %}