{{ include('form/element/input.twig', {'element' : element}) }}

<div class="form-group {{ not element.valid ? 'has-error' }}">
    <label for="{{ element.attributes.id }}0">{{ translate('PasswordConfirmation') }}</label>
    <input class="form-control" {% for key, value in element.attributes %}
            {% if key == 'id' %}
                {% set value = "#{value}0" %}
            {% endif %}
            {{ key }}="{{ value }}"
        {% endfor %}/>
</div>