<div class="form-group {{ not element.valid ? 'has-error' }}">
    <label> {{ element.label }} </label>

    {% if (not element.valid) %}
        <div class="alert alert-danger">
            <ul>
                {% for message in element.errors %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% for choice in element.choices %}
        <div class="radio">
            <label><input {{ choice.attributes | raw }}/>{{ choice.label }}</label>
        </div>
    {% endfor %}

</div>

