
<div class="form-group">
    <label for="{{ element.attributes.id }}"> {{ element.label }} </label>
    {% if (not element.valid) %}
        <div class="alert alert-danger">
            <ul>
                {% for message in element.errors %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <select class="form-control" {{ element.attributes | raw }} >
        {% for choice in element.choices %}
            <option {{ choice.attributes | raw }}>
                {{ choice.label }}
            </option>
        {% endfor %}
    </select>
</div>