<div class="blog-post">
    <h1>{{ blogPost.displayName }}</h1>
    <p class="blog-post-meta">
        <time datetime="{{ blogPost.publishTime.format('c') }}">
            {{ blogPost.publishTime.format('d.m.Y | H:i') }}
        </time>
        {{ translate('Author') }}: <a href="{{ blogPost.author.getPageUrl() }}">{{ blogPost.author.displayName }}</a>
        {{ widget('blog.post.editPostLink', {'blogPost' : blogPost, 'template' : 'editPostLink'}) }}
    </p>

    {{ blogPost.announcement | raw }}

    <a href="{{ blogPost.getPageUrl() }}">{{ translate('Read more') }}</a>
    {{ widget('blog.post.unPublished', {'blogPost' : blogPost, 'template' : 'unPublishPostForm'}) }}
</div>