{{#view view.buttonView meta=view.meta defaultBehaviour=view.defaultBehaviour}}
    {{#if view.meta.attributes.hasIcon}}
        <i {{bind-attr class=":icon view.parentView.defaultBehaviourIcon"}}></i>
    {{/if}}

    {{#if view.label}}
        <b class="umi-button-label">{{view.label}}</b>
    {{/if}}

    <span class="dropdown-toggler" {{action 'open' target="view"}}
        {{bind-attr data-options="view.dataOptions" data-dropdown="view.parentView.dropdownId"}}></span>
{{/view}}

<ul {{bind-attr id="view.dropdownId"}} {{bind-attr class=":f-dropdown :f-dropdown-composite view.listClassNames"}} data-dropdown-content>
    {{#each view.meta.behaviour.choices}}
        {{#view view.itemView}}
            <a {{action 'sendActionForBehaviour' behaviour target="view.parentView"}}>
                <i {{bind-attr class=":icon view.icon"}}></i>

                <div>{{view.label}}</div>

                <i {{bind-attr class=":icon :icon-accept :split-default-button view.isDefaultBehaviour::white"}}
                {{action 'toggleDefaultBehaviour' view._parentView.contentIndex target="view.parentView" bubbles=false}}></i>
            </a>
        {{/view}}
    {{/each}}
</ul>
